# Maven - compiled files
inventory-service/target/
*.jar
*.war

# IDE - Eclipse
inventory-service/.classpath
inventory-service/.project
inventory-service/.settings/
inventory-service/bin/

# IDE - IntelliJ
inventory-service/.idea/
*.iml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# H2 Database
*.db
*.trace.db

# Angular (inventory-app)
inventory-app/node_modules/
inventory-app/.angular/
inventory-app/dist/
inventory-app/coverage/
inventory-app/.env
inventory-app/*.log
inventory-app/.idea/
inventory-app/*.iml